//Colors
//===================================================
$color-paragraph: #aaa;
$color-button: #222;
$background-input: #f4f4f4;
$color-copyright: rgba(255,255,255, 0.45);

//Screen sizes
//===================================================
$screen-mc: 480px;
$screen-xs: 540px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-mg: 1050px;
$screen-lg: 1200px;
$screen-xg: 1400px;

//Radius
//===================================================
$small-radius: 4px;
$medium-radius: 8px;
