.copyright {
    margin: 40px 0 150px 0;

    &__list {
        display: flex;
        justify-content: center;
     
        color: $color-copyright;

        &__item {
            &:nth-child(2):before, &:nth-child(3):before {
                content: '\2022';
     
                display: inline;
                padding: 0 0.75em 0 0.75em;
                opacity: 0.5;
            }
        }
    }
}