    .tooltip {
        background-color: black;
        font-size: 0.5;
        padding: .5em 1em;
        margin-bottom: 1em; 
        opacity: 0;
    
        &:before {
            content: ''; 
              width: 0;
              height: 0;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-top: 10px solid black;
              
              position: absolute;
              left: 50%;
              top: 36%;
              
              display: block;
              transform: translateX(-50%);              
            }
        }
        .tab_label {
            display: flex;
            align-items: center;
            flex-direction: column-reverse;
            
            &:hover > .tooltip{
                opacity: 1;
                transition: 1s;
            }
    }