.contact {
    flex-direction: column;
    margin-top: 30px;
    padding: 3.5em 2.5em 4em 2.5em;

    background-color: white;
    
    @include mdscreen($screen-sm) {
        padding: 2.5em 1em 2.5em 1em;
    }    
    
    &__header {
        padding-bottom: 25px;
        &__title {
            font-size: 2em;
        }
    } 
    &__form {
        &__group {
            display: flex;
            justify-content: space-between;

            @include mdscreen($screen-sm) {
                flex-direction: column;

                & .input-form {
                    width: 100% !important;
                }    
            }

            & .input-form {
                width: calc(50% - 12px);
            }
        }
        &__subject {
            width: 100%;
        }
        &__message {
            width: 100%;
            margin-bottom: 50px;
        }
    }
}