.home {
    justify-content: space-between;
    margin-top: 30px;
    background-color: white;
    max-height: 394px;

    &__header {
        padding-left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: 100;
        &__title {
            font-size: 3em;
        }
        &__subtitle {
            font-size: 2em;
            color: $color-paragraph;
        }
    }
    
    &__div {
     position: relative;

        &:before {
            content: "\f054";
            width: 80px;
            height: 80px;
            
            margin-left: calc(100% - 80px);
            top: calc(50% - 40px);
            position:absolute;
            display: block;
            text-align: center;
            padding-top: 20px;

            background: rgba(0, 0, 0, 0.5);
            color: white;
            font-family: fontawesome;
            font-size: 2.5em;

            &:hover {
                width: 90px;
            }
          }
    }
}